.hero {
  position: relative;
  margin: 0 auto;
  /* display: flex; */
  /* flex-direction: column; */
align-items: center;
}
.heroTop {
  display: flex;
  /* border: 1px solid; */
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 200px;
  position: absolute;
  top: 60px;
  margin: 0 auto;

  /* bottom: 50px; */
  /* z-index: 10; */
  h5 {
    font-size: 58px;
    margin: 7px;
    font-weight: 500;
    span {
      text-shadow: 3px 3px #f0d800;
      /* font-family: cursive; */
      /* font-size: 50px; */
    }
  }
  #anytime {
    font-weight: 700;
  }
}
#yellow {
  width: 500px;
  height: 300px;
  /* border: 1px solid; */
  /* z-index: -1; */
  /* position: relative; */
}
#heroImg {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  
  /* position: relative;
    bottom: 255px; */
  margin: 0 auto;
}
#start {
  height: 50px;
  width: 250px;
  border-radius: 30px;
  margin: 20px auto;
  border: none;
  background-color: #f0d800;
  font-size: 18px;
  /* background-color: #c29700; */
  /* background-color: #a07c00; */
  /* background-color: #786c00; */
  /* background-color: #ffd700; */
  /* background-color: #ffd900; */
  /* background-color: #cc9900; */
  /* background-color: #964b00; */
  /* background-color: #786639; */
  /* color: white; */
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #ffd819;
  background: #ffd819;
}
#start:hover {
  background: #fff;
  color: #ffd819;
}
